@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first Website</h1>
    <p>Connect with me on<a href="https://www.linkedin.com/in/lvongsiprasom/"> LinkedIn</a>.</p>
</div>

<hr />
<h2> @Model.Title</h2>
<h4> About Me</h4>

<p>Paragraph 1</p>
<p>Paragraph 2</p>
<p>Paragraph 3</p>


<p>Copyright Year: @Model.CreateDate.Year</p>

